/*  your css code here. If applicable */
body{
	background-color:rgb(250,250,250);
}
.cards-wrapper{
	display:grid;
	grid-template-columns: repeat(4,1fr);
}
.card{
	border: 10px solid rgb(204,204,204);
	height: 200px;
	width:150px;
	border-radius:10px;
	background-image: url('https://media.istockphoto.com/id/1124838925/vector/programming-code-application-window.jpg?s=612x612&w=0&k=20&c=2J2JZP7cQltD03QkOMl6JYfzcmD-GN7bjrWVuieD7Jc=');
	background-size: cover;
	margin-left:10px;
}
.card>h1{
	color:white;
	font-size:36px;
}
.card>p{
	color:white;
	font-size:18px;
}
